<form (ngSubmit)="onSubmit()" [formGroup]="settingsForm" class="settings-form" novalidate>

  <mat-form-field class="settings-row">
    <input formControlName="size" matInput max="50" min="0" placeholder="Map size" type="number"/>
  </mat-form-field>

  <mat-form-field class="settings-row">
    <input formControlName="shipNum" matInput max="50" min="0" placeholder="Number of ships with 1 mast"
           type="number"/>
  </mat-form-field>

  <mat-form-field class="settings-row">
    <input formControlName="shipNum2" matInput max="50" min="0" placeholder="Number of ships with 2 mast"
           type="number"/>
  </mat-form-field>

  <mat-form-field class="settings-row">
    <input formControlName="shipNum3" matInput max="50" min="0" placeholder="Number of ships with 3 mast"
           type="number"/>
  </mat-form-field>

  <mat-form-field class="settings-row">
    <input formControlName="shipNum4" matInput max="50" min="0" placeholder="Number of ships with 4 mast"
           type="number"/>
  </mat-form-field>

  <div>
    <mat-checkbox disabled formControlName="autoDeployment" labelPosition="before">Automatic deployment?</mat-checkbox>
  </div>

  <div>
    <button mat-icon-button type="submit">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
