<label for="height"> Map Height </label>
<p>
  <input label="Map Height" id="height" type="number" min="0" max="50"/>
</p>


<p>
  <label for="width"> Map width </label>
</p>
<p>
  <input label="Map width" id="width" type="number" min="0" max="50"/>
</p>

<p>
  <label for="shipNum"> Number of ships with 1 mast </label>
</p>
<p>
  <input label="Number of ships" id="shipNum" type="number" min="0" max="50"/>
</p>
<p>
  <label for="shipNum2"> Number of ships with 2 mast</label>
</p>
<p>
  <input label="Number of ships" id="shipNum2" type="number" min="0" max="50"/>
</p>
<p>
  <label for="shipNum3"> Number of ships with 3 mast</label>
  </p>
<p>
  <input label="Number of ships" id="shipNum3" type="number" min="0" max="50"/>
</p>
<p>
  <label for="shipNum4"> Number of ships with 4 mast</label>
</p>
<p>
  <input label="Number of ships" id="shipNum4" type="number" min="0" max="50"/>
</p>
<p>
  <label for="autoDeployment"> Auto or manual ship deployment? </label>
</p>
<p>
  <input label="Auto ship deployment?" id="autoDeployment" type="checkbox"/>
</p>
<p>
  <button  id="create" (click)="onClick()"> </button>
</p>
