<div
  [ngStyle]="{'grid-template-columns': 'repeat(' + board.size + ',100px', 'grid-template-rows': 'repeat(' + board.size + ',100px'}"
  class="board">

  <mat-card (click)="shoot(field)" *ngFor="let field of board.fields" [class.isShipShot]="field.isShot && field.hasShip"
            [class.isShot]="field.isShot" class="myCard"></mat-card>

</div>

<div class="stats">
  <mat-list>
    Stats:
    <mat-list-item>Shots fired = {{stats.fired}}</mat-list-item>
    <mat-list-item>Shots missed = {{stats.missed}}</mat-list-item>
  </mat-list>
</div>
